<div class="row mt-5">
  <div class="col-md-12 col-lg-6 offset-lg-3">
    <app-alert></app-alert>

    <div class="text-center mt-5" *ngIf="isLoading">
      <app-loading-spinner class="text-center"></app-loading-spinner>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password">
      </div>

      <div>
        <button class="btn btn-primary" type="submit" [disabled]="authForm.invalid">
          {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>
