<div class="row">
  <div class="col-xl-12">
    <img src="" alt="" class="img-thumbnail">
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <h1>Recipe Name</h1>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle"
          type="button"
          id="manageRecipe"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">Manage recipe</button>

      <div class="dropdown-menu" aria-labelledby="manageRecipe">
        <a href="#" class="dropdown-item">To shopping list</a>
        <a href="#" class="dropdown-item">Edit recipe</a>
        <a href="#" class="dropdown-item">Delete recipe</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    Description
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    Ingredients
  </div>
</div>
